<header></header>
<div class="d-flex justify-content-center">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <form #contactForm="ngForm">
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="subject" name="subject" 
                            class="form-control input_user"  placeholder="Subject">
                </div>
                <div class="input-group mb-2">
                    <textarea [(ngModel)]="message" name="message"
                         class="form-control input_pass" placeholder="Message">
                        </textarea>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center mt-3 ">
            <button type="button" name="button" 
                class="btn login_btn btn-color" (click)="sendMessage()">Send Message</button>
        </div>
    </div>
</div>
