<header></header>
<div class="container">
        <div *ngIf="!filteredItems.length">
            <span>No items!!</span>
        </div>

        <button (click)="filter()">Filter</button>

        <mat-grid-list cols="4" *ngIf="filteredItems.length">
            <ng-container *ngFor="let item of filteredItems; let i=index">
                <mat-grid-tile>
                    <div class="card">
                      <img class="card-img-top" src="../../../assets/images/veg.png" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">{{item.name}}</h4>
                        <p class="card-text">{{item.provider}}</p>
                        <item-plus-minus [item]="item"></item-plus-minus>
                      </div>
                    </div>
                  </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
</div>

