

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i>   Login via Twitter</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="fullName" ngModel class="form-control" placeholder="Full name" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" ngModel class="form-control" placeholder="Email address" type="email">
                </div> 
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input class="form-control" placeholder="yyyy-mm-dd"
                                name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;" ngModel>
                        <option selected="">+91</option>
                    </select>
                    <input name="phoneNumber" ngModel class="form-control" placeholder="Phone number" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" ngModel class="form-control" placeholder="Create password" type="password">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="repeatPassword" ngModel class="form-control" placeholder="Repeat password" type="password">
                </div>                                      
                <div class="form-group">
                    <button type="submit" class="btn btn-color btn-block"> Create Account  </button>
                </div>      
                <p class="text-center">Have an account? <a [routerLink]="['/login']">Log In</a> </p>                                                                 
        </form>
        </article>
    </div> 
</div> 