$button-color:#022966;
$button-color-hover:#6aa3ff;
$button-custom-color:gray;

$red-color:red;
$red-color-hover:#a44;
$white-color:white;
$page-bg-color:rgb(241, 235, 235);

$box-shaddow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);