@import '../css/colors.scss';

$font-family:Roboto,Arial,sans-serif;

body{
    background-color:$page-bg-color;
}

.gro-container{
    padding: 10px;
    border-radius: 2px;
}

.btn-color{
    background-color: $button-color;
    color: $white-color;
}
.btn-color:hover{
    background-color: $button-color-hover;
}

.error{
    border: 1px solid red;
}


.user_card {
    height: 350px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: $box-shaddow;
    -webkit-box-shadow: $box-shaddow;
    -moz-box-shadow: $box-shaddow;
    border-radius: 5px;
}

.input-group-text {
    background: $button-color !important;
    color: $white-color !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $button-color !important;
}
